@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Satisfy&display=swap");

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

.container {
  text-align: center;
  padding: 10%;
}

.heading {
  font-size: 4rem;
  color: #0cecdd;
  font-family: "Domine", serif;
}

#inputTxt {
  width: 50%;
  height: 40px;
  border-radius: 40px;
  font-size: 1.2rem;
  padding-left: 10px;
  color: red;
  border: 2px #5d8233 solid;
}

#inputTxt:focus {
  outline: none;
  text-decoration: none;
}

#showTxt {
  text-align: center;
  font-size: 2rem;
  padding: 5% 10% 0;
  font-family: "Satisfy", cursive;
}
